<header>

  <nav>
    <ul>
      <li>       <h1> {{title}} </h1>         </li>
      <li><a routerLink="/home"> Home </a>    </li>
      <li><a routerLink="/about"> About </a>  </li>
      <li><a routerLink="/quotes"> Quotes </a></li>
    </ul>
  </nav>
</header>
<!-- <app-quote-item [quote]="quoteA" class="quote-container"></app-quote-item>
<app-quote-item [quote]="quoteB" class="quote-container"></app-quote-item> -->
<router-outlet></router-outlet>

<footer>
  <p> Made with &hearts; at Ironhack </p>
</footer>
